<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="gridurl" value="${gridurl}"/>
  <parameter name="appurl" value="${appurl}"/>
  <parameter name="pptfile" value="${pptfile}"/>
    <packages>
    <package name="posScripts"></package>
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
